@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.about-wrapper{
    height: 500px;
}
.about-left{
    background-color: ;
    background-image: url("../1/school2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:auto;
    color:#fff
}
.about-left-content > div{
    background: #12192c;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center; 
    border-radius: 12px 12px 0 0;
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.about-left-content h2{
    font-size: 2.4rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #FFFFFF;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 1.2rem;
}
.icons{
    background: #191972;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 12px 12px;
}
.icons{
    background: #191970c;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li a i.fa-facebook {
    color: blue;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.about-right{
    background: #12192c;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    text-align: center;
    color:#fff
}

.container{ 
    position: absolute;
    max-width: 500px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 450px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
	color: #000000;
	text-transform: capitalize;
	padding-right: 350px;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}


.input-field i{ 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}


.input-field i.icon{
    left:0;
	position: absolute;
	
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
	position: absolute;
}

.form .checkbox-text{
    display: inline;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.form .checkbox-text .text {
    padding-right: 5px; /* add some space between the checkbox label and the "Remember me" text */
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
	margin-top: 10px;
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 15px;
	margin-top: 10px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #265df2;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #000000;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}


@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        width:80%
    
    }
}